In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('water.txt',sep='\t')

In [9]:
data.head(15)

   location         town  mortality  hardness
0     South         Bath       1247       105
1     North   Birkenhead       1668        17
2     South   Birmingham       1466         5
3     North    Blackburn       1800        14
4     North    Blackpool       1609        18
5     North       Bolton       1558        10
6     North       Bootle       1807        15
7     South  Bournemouth       1299        78
8     North     Bradford       1637        10
9     South     Brighton       1359        84
10    South      Bristol       1392        73
11    North      Burnley       1755        12
12    South      Cardiff       1519        21
13    South     Coventry       1307        78
14    South      Croydon       1254        96

In [11]:
data.iloc[:,[2,3]].corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [12]:
data.iloc[:,[2,3]].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [13]:
data[data['location'] == 'South'].iloc[:,[2,3]].corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [14]:
data[data['location'] == 'North'].iloc[:,[2,3]].corr(method='pearson')

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [17]:
a, b, c, d = 203, 239, 718, 515
mcc = (a*d-b*c)/np.sqrt((a+b)*(a+c)*(d+c)*(d+b))
print mcc

-0.109002374587

In [18]:
from scipy import stats

In [27]:
stats.chi2_contingency(observed=np.array([[203, 239], [718, 515]]))

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 243.03402985,  198.96597015],
        [ 677.96597015,  555.03402985]]))

In [28]:
p1,p2 = 239.0/(239+515), 203.0/(203+717)
lower = p1 - p2 - stats.norm.ppf(0.975)*np.sqrt(p1*(1-p1)/(239+515)+p2*(1-p2)/(203+717))
upper = p1 - p2 + stats.norm.ppf(0.975)*np.sqrt(p1*(1-p1)/(239+515)+p2*(1-p2)/(203+717))
print lower, upper

0.0536499725563 0.13899793426

In [33]:
z = (p1-p2)/np.sqrt(p1*(1-p1)/(239+515)+p2*(1-p2)/(203+717))
p_value = 2*(1-stats.norm.cdf(z))

In [34]:
print p_value

9.68712176808e-06

In [59]:
def chi_stat(matrix):
    s = 0
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            k = float(matrix[i,:].sum()*matrix[:,j].sum())/matrix.sum()
            s += ((matrix[i,j]-k)**2)/k
    return s

In [60]:
def chi_stat2(matrix):
    s = 0
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            k = float(matrix[i,:].sum()*matrix[:,j].sum())
            s += matrix[i,j]**2/k
    return matrix.sum()*(s-1)

In [61]:
a = np.array([[197,111,33],[382,685,331],[110,342,333]])
print chi_stat(a)

293.683110397

In [62]:
stats.chi2_contingency(a)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [63]:
cramer = np.sqrt(chi_stat(a)/(a.sum()*2))

In [64]:
print cramer

0.24120139345