In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('water.txt', sep='\t', engine='python',names=['location','town','mortality','hardness'],header=0)

In [12]:
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [14]:
df.shape

(61, 4)

In [17]:
df.mortality.values

array([1247, 1668, 1466, 1800, 1609, 1558, 1807, 1299, 1637, 1359, 1392,
       1755, 1519, 1307, 1254, 1491, 1555, 1428, 1318, 1260, 1723, 1379,
       1742, 1574, 1569, 1096, 1591, 1402, 1772, 1828, 1704, 1702, 1581,
       1309, 1259, 1427, 1724, 1175, 1486, 1456, 1696, 1236, 1711, 1444,
       1591, 1987, 1495, 1369, 1257, 1587, 1713, 1557, 1640, 1709, 1625,
       1625, 1527, 1627, 1486, 1485, 1378])

In [55]:
mort_std = df.mortality.std()/np.sqrt(df.mortality.values.size)
hardness_std = df.hardness.std()/np.sqrt(df.hardness.values.size)
mort_mean = df.mortality.mean()
hardness_mean = df.hardness.mean()

In [56]:
from statsmodels.stats.weightstats import _tconfint_generic

In [58]:
print 'Confidence interval for mean mortality:{}'.format(_tconfint_generic(mort_mean,mort_std,df.mortality.values.size-1,0.05,'two-sided'))
print 'Point estimatation of mean mortality:{}'.format(mort_mean)

Confidence interval for mean mortality:(1476.0833413552848, 1572.2117406119285)
Point estimatation of mean mortality:1524.14754098

In [59]:
print 'Confidence interval for mean hardness:{}'.format(_tconfint_generic(hardness_mean,hardness_std,df.hardness.values.size-1,0.05,'two-sided'))
print 'Point estimatation of mean hardness:{}'.format(hardness_mean)

Confidence interval for mean hardness:(37.424010072079227, 56.93664566562569)
Point estimatation of mean hardness:47.1803278689

In [34]:
south_mort_std = df[df['location'] == 'South']['mortality'].std()/np.sqrt(df[df['location'] == 'South']['mortality'].values.size)
south_mort_mean = df[df['location'] == 'South']['mortality'].mean()

In [60]:
print 'Confidence interval for mean mortality in the South:{}'.format(_tconfint_generic(south_mort_mean,south_mort_std,df[df['location'] == 'South']['mortality'].values.size-1,0.05,'two-sided'))
print 'Point estimatation of mean mortality in the South:{}'.format(south_mort_mean)

Confidence interval for mean mortality in the South:(1320.1517462936238, 1433.463638321761)
Point estimatation of mean mortality in the South:1376.80769231

In [61]:
north_mort_std = df[df['location'] == 'North']['mortality'].std()/np.sqrt(df[df['location'] == 'North']['mortality'].values.size)
north_mort_mean = df[df['location'] == 'North']['mortality'].mean()

In [62]:
print 'Confidence interval for mean mortality in the North:{}'.format(_tconfint_generic(north_mort_mean,north_mort_std,df[df['location'] == 'North']['mortality'].values.size-1,0.05,'two-sided'))
print 'Point estimatation of mean mortality in the North:{}'.format(north_mort_mean)

Confidence interval for mean mortality in the North:(1586.5605251961385, 1680.6394748038613)
Point estimatation of mean mortality in the North:1633.6

In [40]:
south_hard_std = df[df['location'] == 'South']['hardness'].std()/np.sqrt(df[df['location'] == 'South']['hardness'].values.size)
south_hard_mean = df[df['location'] == 'South']['hardness'].mean()
north_hard_std = df[df['location'] == 'North']['hardness'].std()/np.sqrt(df[df['location'] == 'North']['hardness'].values.size)
north_hard_mean = df[df['location'] == 'North']['hardness'].mean()

In [63]:
print 'Confidence interval for mean hardness in the South:{}'.format(_tconfint_generic(south_hard_mean,south_hard_std,df[df['location'] == 'South']['hardness'].values.size-1,0.05,'two-sided'))
print 'Confidence interval for mean hardness in the North:{}'.format(_tconfint_generic(north_hard_mean,north_hard_std,df[df['location'] == 'North']['hardness'].values.size-1,0.05,'two-sided'))

Confidence interval for mean hardness in the South:(53.467198692036106, 86.071262846425441)
Confidence interval for mean hardness in the North:(21.422487285724259, 39.377512714275738)

In [49]:
(1.96/0.1)**2

384.1599999999999