In [56]:
from scipy.stats import norm
import numpy as np
n1 = 34
n2 = 16
p = 14.0/50
p1 = 10.0/34
p2 = 0.25
Z = (p1 - p2)/np.sqrt(p*(1-p)*(1.0/n1+1.0/n2))
p_value = 1-norm.cdf(abs(Z))

In [57]:
p_value

0.37293045872523534

# Banknotes

In [3]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('banknotes.txt',sep='\t')

In [5]:
data.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1

In [10]:
X1 = data.iloc[:,range(3)]
X2 = data.iloc[:,[3,4,5]]
y = data['real']

In [11]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y,shuffle=True,random_state=1)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y,shuffle=True,random_state=1)

In [17]:
estimator1 = LogisticRegression()
estimator2 = LogisticRegression()

estimator1.fit(X1_train,y1_train)
estimator2.fit(X2_train,y2_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [42]:
from sklearn.metrics import accuracy_score
error_prediction1 = 1 - accuracy_score(estimator1.predict(X1_test),y1_test)
error_prediction2 = 1 - accuracy_score(estimator2.predict(X2_test),y2_test)

print "Error for the first log_reg model: %f" %error_prediction1
print "Error for the second log_reg model: %f" %error_prediction2

Error for the first log_reg model: 0.200000
Error for the second log_reg model: 0.020000

## Considering samples are independent

In [43]:
n1 = X1_test.shape[0]
n2 = X2_test.shape[0]
p1 = error_prediction1
p2 = error_prediction2
p = (p1*n1+p2*n2)/(n1+n2)
Z = (p1 - p2)/np.sqrt(p*(1-p)*(1.0/n1+1.0/n2))
p_value = 2*(1-norm.cdf(abs(Z)))

In [44]:
p_value

0.0040222372720553068

In [45]:
lower_bound = p1-p2-norm.ppf(0.975)*np.sqrt(p1*(1-p1)/n1+p2*(1-p2)/n2)
upper_bound = p1-p2+norm.ppf(0.975)*np.sqrt(p1*(1-p1)/n1+p2*(1-p2)/n2)
print lower_bound, upper_bound

0.0625328978653 0.297467102135

## unindependent

In [30]:
prediction1 = estimator1.predict(X1_test)
prediction2 = estimator2.predict(X2_test)

e = sum([1 if (x1 == 1)&(x2 == 1) else 0 for x1,x2 in zip(prediction1,prediction2)])
h = sum([1 if (x1 == 0)&(x2 == 0) else 0 for x1,x2 in zip(prediction1,prediction2)])
f = sum([1 if (x1 == 1)&(x2 == 0) else 0 for x1,x2 in zip(prediction1,prediction2)])
g = sum([1 if (x1 == 0)&(x2 == 1) else 0 for x1,x2 in zip(prediction1,prediction2)])

In [35]:
Z = (f - g)/np.sqrt(f+g-float((f-g)**2)/n)
print "p-value = %f" %(2*(1-norm.cdf(abs(Z))))

p-value = 0.127263

# GMAT course

In [53]:
m = 525
sigma = 100
m1 = 541.5
n = 100

Z = (m1 - m)/sigma*np.sqrt(n)
p_value = 1 - norm.cdf(Z)
print p_value

0.0494714680336